language = "c"
run = "gcc -o lmain /home/runner/project2/src/main.c"
modules = ["c-clang14"]

[deployment]
run = ["sh", "-c", "gcc -o labrabota3-1 /home/runner/project2/src/main.c"]

[nix]
channel = "stable-24_05"
